
.playGroundStyle{
    width:80%;
    height:80%;
    overflow:hidden;
    top:10%;
    left:10%;
    border:1px solid gainsboro;
    border-radius:5px;
    position:relative;
    position:absolute;
}

.cardStyle{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    border:1px solid black;
    border-radius:5px;
    font-family:cursive;
    font-weight:bold;
    background-color:white;
    font-size:15px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    flex-wrap:wrap;
}

.cardStyle span{
    font-size:35px;
    font-weight:bold;
}

.cardHolderStyle{
    position:relative;
    position:absolute;
    height:20%;
    width:100%;
    background-color:lightgrey;
    /* z-index:-10; */
}

.cardStoreStyle{
    position:relative;
    position:absolute;
    top:40%;
    left:90%;
    width:10%;
    height:20%;
    border:2px solid blue;
    background-color:white;
}

.playAreaStyle{
    position:relative;
    position:absolute;
    top:40%;
    left:45%;
    width:10%;
    height:20%;
    border:2px solid green;
    background-color:white;
}


.cardPickerStyle{
    position:absolute;
    width:40%;
    height:40%;
    border:2px solid black;
    display:flex;
    border-radius:5px;
    flex-wrap:wrap;
    justify-content:center;
    background-color:white;
    top:20%;
    left:30%;
}

.cardPickerStyle div{
    width:30%;
    border:1px solid black;
    font-family:cursive;
    /* font-size:20px; */
    font-weight:bold;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:5px;
    border-radius:3px;
}

.cardPickerStyle div:hover{
    transform:scale(0.98);
}
